body{
    /*background: -webkit-linear-gradient(#660099, #CCB2FF); 
    background: -o-linear-gradient(#660099, #CCB2FF); 
    background: -moz-linear-gradient(#660099, #CCB2FF); 
    background: linear-gradient(#660099, #CCB2FF); 
    background: #FFCC00;
    background: url(../images/SCU-campus.jpg);
    background-repeat: no-repeat;
    -webkit-background-size:  100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size: 100% 100%;*/
    color: black;
    font-family: Papyrus, fantasy;
}
img.bg {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
.blur {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  overflow: hidden;
}

h1 {
    text-align: center;
    width: 100%;
    height: 110px;
    font-size: 70px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #800000;
    text-shadow: #330000 1px 1px 1px
}

p {
    position: relative;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
}

/*#vertical {
    position: fixed;
    top: 0;
    left: 100px;
    width: 50px;
    height: 100%;
    background: #CCB2FF;
}*/

#form {
    color: white;    
    margin: auto;
    position: relative;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    /*border: solid 1px white;*/
}


@media screen and (max-width: 767px) {
    #links div{
        text-align: center !important;
    }
}

input, button {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-family: Papyrus, fantasy;
}
input[type='text'], input[type='password'], input[type='email'] {
    background: none;
    color: white;
    border: solid 1px white;
}
input[type='button'], input[type='submit'],  button {
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0;
    opacity: 0.7;
}
input:focus, input:hover, input:active, button:hover {
    outline: none;
    box-shadow: 0 0 5px white;
}
a, a:hover, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
a:hover {
    text-shadow: 0 0 20px white;
}
.error {
    color: red;
}
